.login-form {
  color: #24a0ed;
  font-size: 20px;
  font-weight: 600;
}

.login-form p {
  margin: 20px;
}

.login-form input {
  background: none;
  color: #24a0ed;
  display: flex;
  padding: 10px;
  border: none;
  border-bottom: #24a0ed 2px solid;
  margin-left: 20px;
  margin-right: 20px;
  width: 80%;
}

.login-form input::placeholder {
  color: #24a0ed;
}

.login-form hr {
  height: 10px;
  border-top: #fff 3px solid;
  margin: 20px;
}

.login-form button {
  text-align: center;
  margin: auto;
  display: flex;
  border: #24a0ed 2px solid;
  border-radius: 1rem;
  background-color: #24a0ed;
  color: #fff;
  font-size: 20px;
  padding: 10px 40px 10px 40px;
}

.login-form button:hover {
  background-color: #1f7ab3;
}

.login-form .icon {
  margin-top: 15px;
  color: #24a0ed;
  font-size: 30px;
}

.login-form .input-field {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
}

.invalid-field {
  color: red;
  visibility: visible;
}

.invalid-field-hidden {
  visibility: hidden;
}
