.tooltip-inner {
  background-color: none;
  color: #fff;
  border: 1px solid #24a0ed;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #24a0ed;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #24a0ed;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #24a0ed;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #24a0ed;
}
